<li class="project-group">
    <div class="group-image">
        <img src="<%- image.link %>">
    </div>
    <div class="projects">
        <div class="list-heading"><a href="<%- url %>" class="visible" ><%- name %></a></div>
        <ul class="projects-target">
             
        </ul>
        <div class="btn-add-group">+ Add Group</div>
    </div>
</li>
